- if @shift.errors.any?
  .ui.negative.mini.message
    %i.close.icon
    #error_explanation
    .header= "#{pluralize(@shift.errors.count, "error")} prohibited this web_shift from being saved:"
    %ul.list
    - @shift.errors.full_messages.each do |message|
      %li= message

= form_for(@shift, url: url, method: method, html:{ class: 'ui form error'}) do |f|
  .required.field
    =label_tag('Código turno')
    =text_field(:shift, :cod, placeholder: 'Código de turno')
  .ui.dividing.header Detalles del turno
  .required.fields
    .four.wide.field
      =label_tag('Hora de inicio')
      .two.fields
        =f.time_select :shift_start, {ampm: false, ignore_date: true, start_hour: 0, end_hour: 23, minute_step: 5}, class: 'ui fluid dropdown two'
    .one.wide.field
    .four.wide.field
      =label_tag('Hora de termino')
      .two.fields
        =f.time_select :shift_end, {ampm: false, ignore_date: true, start_hour: 0, end_hour: 23, minute_step: 5}, class: 'ui fluid dropdown two'
    .seven.wide.field
      =label_tag('Jornada')
      =f.select :time, Shift.times.keys.map {|key| [key.humanize, key]}, {prompt: 'Seleccionar'}, class: 'ui fluid dropdown'
  .fields
    .four.wide.field
      =label_tag('Inicio Break')
      .two.fields
        =f.time_select :break_start, {ampm: false, ignore_date: true, start_hour: 0, end_hour: 23, minute_step: 5}, class: 'ui fluid dropdown two'
    .one.wide.field
    .four.wide.field
      =label_tag('Fin Break')
      .two.fields
        =f.time_select :break_end, {ampm: false, ignore_date: true, start_hour: 0, end_hour: 23, minute_step: 5}, class: 'ui fluid dropdown two'
    .seven.wide.field
      =label_tag('Valor hora del turno:')
      =f.text_field :per_hour, placeholder: '$000000 CLP'
  .field
    =label_tag('Tipo')
    =f.text_field(:shift_type, placeholder: 'Tipo de turno')
  .required.field
    = label_tag('Descripción')
    =f.text_field(:description, placeholder: 'Descripción del turno')
  .actions
    = link_to 'Cancelar', web_shifts_path, class: 'ui button'
    -if @shift.new_record?
      = f.submit 'Guardar', class: 'ui primary button'
    -else
      = f.submit 'Actualizar', class: 'ui primary button'

    = render partial: 'layouts/script_form_error'



