= render partial: 'layouts/menutop'
= render partial: 'layouts/breadcrump'
- title "Editar #{@shift.cod}"
.ui.text.container
  %h1 Editar turno #{@shift.cod}
  = render partial: 'form', locals: {url: web_shift_path(@shift), method:'put'}

