= render partial: 'layouts/menutop'
= render partial: 'layouts/breadcrump'
- title "Listado de turnos"
.ui.container
  - if !notice.nil?
    = render partial: 'layouts/notice'
  %h1 #{fa_icon "history"} Listado de Turnos

  %table.ui.orange.celled.table
    %thead
      %tr
        %th.one.wide Código
        %th.eight.wide Descripción
        %th.two.wide H/ Entrada
        %th.two.wide H/ Salida
        %th.one.wide Jornada
        -if current_user.root? || current_user.admin?
          %th.one.wide Editar
          %th.one.wide Eliminar

    %tbody
      - @shifts.each do |shift|
        %tr
          %td.selectable.positive.center.aligned= link_to shift.cod, web_shift_path(shift)
          %td= shift.description.to_s.truncate_words(25, omission: ' ...(continua)')
          %td= shift.shift_start.strftime("%H :%M")
          %td= shift.shift_end.strftime("%H :%M")
          %td.positive.center.aligned= shift.time.to_s.capitalize
          -if current_user.root? || current_user.admin?
            %td.selectable.warning.center.aligned= link_to '<i class="fa fa-pencil-square-o" aria-hidden="true"></i>'.html_safe, edit_web_shift_path(shift)
            %td.selectable.negative.center.aligned= link_to '<i class="fa fa-trash-o" aria-hidden="true"></i>'.html_safe, web_shift_path(shift), method: :delete, data: { confirm: "¿Desea elimnar el Turno #{shift.cod} - #{shift.description}?"}

  = will_paginate @shift, :class =>'waki_pagination'
  = link_to 'Crear nuevo turno', new_web_shift_path, class: 'ui primary button'


