= render partial: 'layouts/menutop'
= render partial: 'layouts/breadcrump'
- title "Nuevo turno"
.ui.text.container
  %h1 Nuevo Turno
  = render partial: 'form', locals: {url: web_shifts_path, method: 'POST'}
