= render partial: 'layouts/menutop'
= render partial: 'layouts/breadcrump'
- title "Turno #{@shift.cod}"
.ui.text.container
  %p#notice= notice
  %h1.ui.header Turno #{@shift.cod}
  %p #{@shift.description}

  .ui.bulleted.list
    .item
      %div Horario de turno:
      .list
        .item H/ Entrada: #{@shift.shift_start.strftime("%H :%M")}
        .item H/ Salida: #{@shift.shift_end.strftime("%H :%M")}
    .item
      %div Tiempos en break
      .list
        .item Inicio: #{@shift.break_start.strftime("%H :%M")}
        .item Fin: #{@shift.break_end.strftime("%H :%M")}
    .item Tipo de turno:  #{@shift.shift_type}

  = link_to 'Regresar', web_shifts_path, class: 'ui default button'
  = link_to 'Editar', edit_web_shift_path(@shift), class: 'ui primary button'



