- if user_signed_in?
  = render partial: 'layouts/menutop'
  = render partial: 'layouts/breadcrump'
  - title "Asignación de Horarios"
  = react_component("App", paragraph_src: image_url('paragraph.png'), calendar_flat_icon: image_url('calendar-flat-icon.png'))
- else
  = react_component("Auth", logo_src: image_url('logo.png'))