= render partial: 'layouts/menutop'
= render partial: 'layouts/breadcrump'
.ui.container
  %h1.text.center
    %i.map.outline.icon
    ERROR 404
    %p La página solicitada no existe.
  = link_to 'Volver' , '/', class: 'ui secondary button'