-if user_signed_in?
  -if current_user.root? || current_user.admin?
    =render "/main/dash_board/admin_main"
  -else
    =render "/main/dash_board/operator"
- else
  = react_component("Auth" , logo_src: image_url('logo.png'))
