/*header menu*/
.ui.menu.inverted , .item.dropdown.inverted> .menu.transition {
  background: #292727;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.ui.logo.icon.image {
  width:35px
}
.ui.inverted.menu .item, .ui.inverted.menu .item>a:not(.ui) {
  color: #efefef;
  font-weight: 100;
}
.ui.inverted.menu .dropdown.item:hover, .ui.inverted.menu .link.item:hover, .ui.inverted.menu a.item:hover, .ui.link.inverted.menu .item:hover , .ui.inverted.menu .item > a:not(.ui):hover{
  color: #aaa;
}
.ui.simple.dropdown .menu{
  border-top:0;
}
.ui.logo.image h3 {
  color: #fff;
  letter-spacing: 0.8rem;
  padding: 0rem 2rem;
}