/*sidebar*/
.ui.left.sidebar, .ui.right.sidebar {
  width: 200px;
}
a.item.logo.icon.image {
  background: #fff;
  padding: 1rem 2rem 2rem 2rem;
}
.ui.inverted.menu a.item:hover{
  background: #fff;
  opacity: 0.95;
}
.ui.sidebar.inverted {
  background: #0747A6;
}