/*table*/
td.name{
  text-transform: capitalize;
}
div.table.header{
  cursor: auto;
  background: #f9fafb;
  text-align: inherit;
  color: rgba(0,0,0,.87);
  padding: .92857143em .78571429em;
  vertical-align: inherit;
  font-style: none;
  font-weight: 700;
  text-transform: none;
  border-bottom: 1px solid rgba(34,36,38,.1);
  border-left: none;
}