<div id="modal_cal" class="ui small modal">
  <i class="close icon"></i>
  <div class="header">
    Detalle de asignación

  </div>
  <div class="content">
    <%= form_for @calendar, url: url, method: method, html: {class: 'ui form error'}, remote: true do |f| %>
        <div class="disabled field">
          <label for="Shift_id">Asignado por: </label>
          <%= f.collection_select(:user_id, User.all, :id, :email, {:prompt => 'Seleccione...'}, {:class => 'ui fluid dropdown'}) %>
        </div>
        <div class="field">
          <label for="Shift_id">Turno</label>
          <%= f.collection_select(:shift_id, Shift.all, :id, :cod, {:prompt => 'Seleccione...'}, {:class => 'ui fluid dropdown'}) %>
        </div>
        <div class="actions">
          <%= f.submit 'Guardar', class: 'ui primary button' %>
          <%= link_to 'Cancelar', web_calendar_programmed_vs_real_path, class: 'ui secondary button' %>
        </div>
    <% end %>
  </div>
</div>