= render partial: 'layouts/menutop'
= render partial: 'layouts/breadcrump'
- title "Programación mensual"
.ui.container
  %h1 Turnos #{@date.to_s}
  = link_to "Descargar PDF", { :action => "index", :format => :pdf }, class: 'ui primary button', target: '_blank'
.scrollable
  %i.resize.horizontal.icon.scroll_icon
  %table.ui.small.striped.centered.table.month-cal
    %thead
      %tr
        %th.name Empleado
        -if @present_month.any?
          -@present_month.each do |date|
            -if date.date.strftime('%a').to_s == 'Sun'
              %th.sun_cal
                =date.date.strftime('%a %d').to_s
            -else
              %th.ordinary_day
                =date.date.strftime('%a %d').to_s
        -else
          %th No hay registro de fecha

    %tbody
      -@employees.each do |name|
        %tr
          %td.active
            = name.first_name + ' '+ name.last_name
            -#byebug
            -if name.calendars.current_month.any?
              -name.calendars.current_month.preload(:shift).each do |calendar|
                %td= calendar.shift.cod
            -else
              %td Sin Horario asignado