= render partial: 'layouts/menutop'
.ui.container
  - if !notice.nil?
    = render partial: '/layouts/notice'
  %h1.ui.icon.header #{fa_icon "gear"} Dashboard
  .ui.two.column.doubling.stackable.grid.container
    .column
      %h4.ui.horizontal.divider.header.tone Administración
      .panel-element
        = link_to '<i class="fa fa-star-half-o" aria-hidden="true"></i> Beneficios'.html_safe, web_benefits_path

      .panel-element
        = link_to '<i class="fa fa-file-text-o" aria-hidden="true"></i> Contratos'.html_safe, web_contracts_path

      .panel-element
        = link_to '<i class="fa fa-history" aria-hidden="true"></i> Turnos'.html_safe, web_shifts_path
      .panel-element
        = link_to '<i class="sun icon" aria-hidden="true"></i> Feriados'.html_safe, web_holidays_path
    .column
      %h4.ui.horizontal.divider.header.tone Organización
      .panel-element
        = link_to '<i class="fa fa-sitemap" aria-hidden="true"></i> Departamentos'.html_safe ,web_departments_path

      .panel-element
        =link_to '<i class="fa fa-users" aria-hidden="true"></i> Empleados'.html_safe,  web_employees_path

  .ui.two.column.doubling.stackable.grid.container
    .column
      %h4.ui.horizontal.divider.header.tone Horarios
      .panel-element
        = link_to '<i class="calendar icon" aria-hidden="true"></i> Asignación'.html_safe ,'/calendarApp/'

      .panel-element
        =link_to '<i class="checked calendar icon" aria-hidden="true"></i> Seguimiento'.html_safe,  web_calendar_programmed_vs_real_path

      .panel-element
        =link_to '<i class="download icon" aria-hidden="true"></i> Descargas'.html_safe, web_calendars_path

