= render partial: 'layouts/menutop'
.ui.container
  - if !notice.nil?
    = render partial: '/layouts/notice'
  %h1.ui.icon.header #{fa_icon "gear"} Dashboard
  .ui.two.column.doubling.stackable.grid.container
    .column
      %h4.ui.horizontal.divider.header.tone Empleados y tuernos
      .panel-element
        = link_to '<i class="fa fa-history" aria-hidden="true"></i> Turnos'.html_safe, web_shifts_path
      .panel-element
        =link_to '<i class="fa fa-users" aria-hidden="true"></i> Empleados'.html_safe,  web_employees_path

    .column
      %h4.ui.horizontal.divider.header.tone Horarios
      .panel-element
        = link_to '<i class="calendar icon" aria-hidden="true"></i> Asignación'.html_safe ,'/calendarApp/'

      .panel-element
        =link_to '<i class="checked calendar icon" aria-hidden="true"></i> Seguimiento'.html_safe,  web_calendar_programmed_vs_real_path

      .panel-element
        =link_to '<i class="download icon" aria-hidden="true"></i> Descargas'.html_safe, web_calendars_path

