= render partial: 'layouts/menutop'
= render partial: 'layouts/breadcrump'
.ui.text.container
  %h2 Editar mi cuenta

  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'ui form' }) do |f|
    = devise_error_messages!

    .field
      = f.label 'eMail'
      = f.email_field :email, autofocus: true

    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div Currently waiting confirmation for:  #{resource.unconfirmed_email}

    %field
      = f.label 'Contraseña'
      %i "(Deje este espacio en blanco si no desea cambar la contraseña"
      = f.password_field :password, autocomplete: "off"
      - if @minimum_password_length
        %br
        %i characters minimum
        %em= @minimum_password_length


    .field
      = f.label 'Confirmar contraseña'
      = f.password_field :password_confirmation, autocomplete: "off"


    .field
      = f.label 'Contraseña actual'
      %i "(Requerimos de su actual contaseña para confirmar los cambios)"
      = f.password_field :current_password, autocomplete: "off"

    .actions
      = f.submit "Actualizar", class: 'ui primary button'
      = link_to "Cancelar", :back, class: 'ui button'


    %h3 Cancelar mi cuenta

    %p Unhappy?
    = link_to "Cancelar cuenta", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'ui button'

