- if @benefit.errors.any?
  = # error handler
  .ui.error.mini.message
    %i.close.icon
    #error_explanation
    .header= "#{pluralize(@benefit.errors.count, "error")} prohibited this contract from being saved:"
    %ul.list
    - @benefit.errors.full_messages.each do |message|
      %li= message

= form_for(@benefit, url:url, method: method, html:{ class: 'ui form error'}) do |f|
  .field
    =text_field(:benefit, :cod, placeholder: 'Codigo beneficio')
  .field
    =text_area(:benefit, :description, placeholder: 'Descripción del beneficio')
  .actions
    = link_to 'Cancelar', web_benefits_path, class: 'ui button'
    -if @benefit.new_record?
      = f.submit 'Guardar', class: 'ui primary button'
    -else
      = f.submit 'Actualizar', class: 'ui primary button'

  = render partial: 'layouts/script_form_error'
