= render partial: 'layouts/menutop'
= render partial: 'layouts/breadcrump'
- title "Editar #{@benefit.cod}"
.ui.text.container
  %h1 Modificar Beneficio #{@benefit.cod}
  = render partial: 'form', locals: {url: web_benefit_url(@benefit), method: 'put'}