= render partial: 'layouts/menutop'
= render partial: 'layouts/breadcrump'
- title "Beneficios"
.ui.container
  - if !notice.nil?
    = render partial: 'layouts/notice'
  %h1 #{fa_icon "star-half-o"} Domingos Libres y otros beneficios
  %table.ui.green.celled.table
    %thead
      %tr
        %th.one.wide Código
        %th.one.wide Id
        %th.twelve.wide Descripción
        %th.one.wide Editar
        %th.one.wide Eliminar


    %tbody
      - @benefits.each do |benefit|
        %tr
          %td.selectable.positive= link_to benefit.cod, web_benefit_path(benefit)
          %td= benefit.id
          %td= benefit.description.to_s.truncate_words(25, omission: ' ...(continua)')
          %td.selectable.warning.center.aligned= link_to '<i class="fa fa-pencil-square-o" aria-hidden="true"></i>'.html_safe, edit_web_benefit_path(benefit)
          %td.selectable.negative.center.aligned= link_to '<i class="fa fa-trash-o" aria-hidden="true"></i>'.html_safe, web_benefit_path(benefit), method: :delete, data: { confirm: 'Are you sure?' }

  %br

  = link_to 'Crear nuevo Beneficio', new_web_benefit_path, class: 'ui primary button'
