= render partial: 'layouts/menutop'
= render partial: 'layouts/breadcrump'
- title "Nuevo Beneficio"
.ui.text.container
  %h1 Nuevo Beneficio
  = render partial: 'form', locals: {url: web_benefits_path, method: 'POST'}

