= render partial: 'layouts/menutop'
= render partial: 'layouts/breadcrump'
- title "Beneficio #{@benefit.cod}"
.ui.text.container
  %h2 Beneficio:  #{@benefit.cod}
  %p= @benefit.description

  = link_to 'Regresar', web_benefits_path, class: 'ui primary button'
  = link_to 'Editar', edit_web_benefit_path(@benefit),  class: 'ui button'
