- if @user.errors.any?
  .ui.error.mini.message
    %i.close.icon
    #error_explanation
    .header= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
    %ul.list
    - @user.errors.full_messages.each do |message|
      %li= message

=form_for(@user, url: url, method: method, html: {class: 'ui form error'})do |f|
  .ui.dividing.header Datos de usuario
  .required.two.fields
    .field
      =label_tag('Nombres')
      =f.text_field(:first_name, placeholder: 'Nombres')
    .field
      =label_tag('Apellidos')
      =f.text_field(:last_name, placeholder: 'Apellido')
  .required.fields
    .nine.wide.field
      =label_tag('eMail')
      =f.text_field(:email, placeholder: 'ejemplo@mail.com')
    -if current_user.root?
      .seven.wide.field
        =label_tag('Rol')
        =f.select :role, User.roles.keys.map {|key| [key.humanize, key]}, {prompt: 'Seleccione'}, class: 'ui fluid dropdown'
  .six.wide.field
    =label_tag('Rut')
    =f.text_field(:rut, placeholder: 'Rut' )
  .actions
    = link_to 'Cancelar', web_users_path, class: 'ui button'
    -if @user.new_record?
      = f.submit 'Guardar', class: 'ui primary button'
    -else
      = f.submit 'Actualizar', class: 'ui primary button'

    = render partial: 'layouts/script_form_error'
