= render partial: 'layouts/menutop'
= render partial: 'layouts/breadcrump'
-title "Editar #{@user.first_name}"
.ui.text.container
  %h1 Editar Usuario #{@user.first_name}
  = render partial: 'form', locals: {url: web_user_path(@user), method:'PUT' }
