= render partial: 'layouts/menutop'
= render partial: 'layouts/breadcrump'
- title "Usuarios del sistema"
.ui.container
  - if !notice.nil?
    = render partial: 'layouts/notice'
  %h1 #{fa_icon "id-card"} Usuarios y Roles
  %table.ui.teal.table
    %thead
      %tr
        %th Nombre
        %th Email
        %th Rol
        %th Editar
        %th Eliminar
    %tbody
      - @users.each do |user|
        %tr
          %td= link_to user.first_name + " " +user.last_name, web_user_path(user)
          %td= user.email
          %td= user.role
          %td.selectable.warning.center.aligned= link_to '<i class="fa fa-pencil-square-o" aria-hidden="true"></i>'.html_safe, edit_web_user_path(user)
          %td.selectable.negative.center.aligned= link_to '<i class="fa fa-trash-o" aria-hidden="true"></i>'.html_safe, web_user_path(user), method: :delete, data: { confirm: "¿Desea eliminar el Usuario #{user.first_name} #{user.last_name}?" }

  =link_to 'Invitar usuario', new_web_user_path, class: 'ui primary button'


