= render partial: 'layouts/menutop'
= render partial: 'layouts/breadcrump'
- title "Editar usuario #{@user.first_name}"
.ui.text.container
  %h4.ui.horizontal.divider.header #{fa_icon "id-card"} Usuario #{@user.email}
  %table.ui.definition.table
    %tr
      %td.five.wide Nombre:
      %td= @user.first_name
      %tr
        %td Apellidos:
        %td= @user.last_name
      -if @user.rut != ""
        %tr
          %td Rut:
          %td= @user.rut
      %tr
        %td eMail:
        %td= @user.email
      %tr
        %td Rol de Usuario:
        %td= @user.role
      %tr
        %td Ip ultimo acceso:
        %td
          -if @user.last_sign_in_ip.to_s != ""
            =@user.last_sign_in_ip.to_s
          -else
            No registra actividad

  = link_to 'Regresar', web_users_path, class: 'ui default button'
  = link_to 'Editar', edit_web_user_path(@user), class: 'ui primary button'