- if @contract.errors.any?
  .ui.negative.mini.message
    %i.close.icon
    #error_explanation
    .header= "#{pluralize(@contract.errors.count, "error")} prohibited this contract from being saved:"
    %ul.list
    - @contract.errors.full_messages.each do |message|
      %li= message

= form_for(@contract, url: url, method: method, html:{ class: 'ui form error'}) do |f|
  .required.field
    %label Contrato
    =text_field(:contract, :contract_type, placeholder: 'Tipo de contrato')
  .required.field
    %label Descripción
    =text_area(:contract, :description, placeholder: 'Texto del contato')
  .actions
    = link_to 'Cancelar', web_contracts_path, class: 'ui button'
    -if @contract.new_record?
      = f.submit 'Guardar', class: 'ui primary button'
    -else
      = f.submit 'Actualizar', class: 'ui primary button'

    = render partial: 'layouts/script_form_error'