= render partial: 'layouts/menutop'
= render partial: 'layouts/breadcrump'
- title "Editar #{@contract.contract_type}"
.ui.text.container
  %h1 Modificar Contrato #{@contract.contract_type}
  = render partial: 'form', locals: {url: web_contract_url(@contract), method: 'put'}