= render partial: 'layouts/menutop'
= render partial: 'layouts/breadcrump'
- title "Contratos"
.ui.container
  - if !notice.nil?
    = render partial: 'layouts/notice'
  %h1 #{fa_icon "file-text-o"} Lista de Contratos
  %table.ui.grey.celled.table
    %thead
      %tr
        %th.two.wide Tipo de Contrato
        %th.twelve.wide Descripción
        %th.one.wide Editar
        %th.one.wide Eliminar
    %tbody
      - @contracts.each do |contract|
        %tr
          %td.selectable.positive= link_to contract.contract_type, web_contract_path(contract)
          %td= contract.description.to_s.truncate_words(25, omission: ' ...(continua)')
          %td.selectable.warning.center.aligned= link_to '<i class="fa fa-pencil-square-o" aria-hidden="true"></i>'.html_safe, edit_web_contract_path(contract)
          %td.selectable.negative.center.aligned= link_to '<i class="fa fa-trash-o" aria-hidden="true"></i>'.html_safe, web_contract_path(contract), method: :delete, data: { confirm: "¿Desea elimnar el contrato #{contract.contract_type}?"}
  %br
  = link_to 'Crear nuevo contrato', new_web_contract_path, class: 'ui primary button'


