= render partial: 'layouts/menutop'
= render partial: 'layouts/breadcrump'
- title "Nuevo contrato"
.ui.text.container
  %h1 Nuevo Contrato
  = render partial: 'form', locals: {url: web_contracts_url, method: 'POST'}
