= render partial: 'layouts/menutop'
= render partial: 'layouts/breadcrump'
- title "Contrato #{@contract.contract_type}"
.ui.text.container
  %h2 Tipo de Contrato:  #{@contract.contract_type}
  %p= @contract.description

  = link_to 'Regresar', web_contracts_path, class: 'ui primary button'
  = link_to 'Editar', edit_web_contract_path(@contract), class: 'ui button'
