<div class="ui top attached tabular menu">
  <a class="item">
    Bio
  </a>
  <a class="item active">
    Photos
  </a>
  <div class="right menu">
    <div class="item">
      <div class="ui transparent icon input">
        <input type="text" placeholder="Search users...">
        <i class="search link icon"></i>
      </div>
    </div>
  </div>
</div>
<div class="ui bottom attached segment">
  <p></p>
</div>