.ui.sidebar.vertical.left.menu.overlay.borderless.visible.sidemenu.inverted
  =link_to image_tag("logo.png") , "/" , class: "item logo icon image"
  .ui.item
    .title
      %i.users.icon
      Perfiles de Usuarios
    .content.menu
      =link_to raw("<i class='user icon'></i> Usuarios"), "/usuarios/", class: "item"
    .content.menu
      =link_to raw("<i class='thumbs up icon'></i> Roles de Usuarios"), "/", class: "item"
    .content.menu
      =link_to raw("<i class='building icon'></i> Empresas"), "/", class: "item"
    .content.menu
      =link_to raw("<i class='building outline icon'></i> Sucursales"), "/", class: "item"
  .ui.item
    .title
      %i.suitcase.icon
      Laboral
    .content.menu
      =link_to raw("<i class='address card icon'></i> Empleados"), "/users", class: "item"
    .content.menu
      =link_to raw("<i class='home icon'></i> Departamentos"), "/users", class: "item"
    .content.menu
      =link_to raw("<i class='handshake icon'></i> Contratos"), "/users", class: "item"
  .ui.item
    .title
      %i.checked.calendar.icon
      Asignaciones
    .content.menu
      =link_to raw("<i class='user icon'></i> Turnos"), "/users", class: "item"
    .content.menu
      =link_to raw("<i class='alarm outline icon'></i> Alertas"), "/users", class: "item"
    .content.menu
      =link_to raw("<i class='calendar icon'></i> Tabla Asignación"), "/users", class: "item"
