<div id="modal-cal" class="ui small modal">

<% if @department.errors.any? %>
  <div class="ui negative icon message">
    <i class="notched circle loading icon"></i>
    <i class="close icon"></i>
    <!-- error_explanation -->
     <div class="content">
       <div class="header">
         <%= "#{pluralize(@department.errors.count, "error")} prohibited this contract from being saved:" %>
       </div>
       <ul class="list">
         <% @department.errors.full_messages.each do |message| %>
             <li> <%= message %> </li>
         <% end %>
       </ul>
     </div>
  </div>
<% end %>


  <div class="header">
    <% if @department.new_record? %>
        <i class="save icon"></i> Nuevo departamento
    <% else %>
        <i class="edit icon"></i> Editar Departamento
    <% end %>
  </div>
  <div class="content">
    <%= form_for @department, url: url, method: method, html:{ class: 'ui form error' }, remote: true do |f| %>
        <div class="required field">
          <label for="department">Departamento</label>
          <%= text_field(:department, :name, placeholder: 'Nombre del departamento') %>
        </div>
        <div class="field">
          <label for="description">Descripción</label>
          <%= text_field(:department, :description, placeholder: 'Área dentro de la organización') %>
        </div>
        <div class="actions">
          <%= link_to 'Cancelar', web_departments_path, class: 'ui button' %>
          <% if @department.new_record? %>
              <%= f.submit 'Guardar', class: 'ui primary button' %>
          <% else %>
              <%= f.submit 'Actualizar', class: 'ui primary button' %>
          <% end %>
        </div>
    <% end %>
  </div>
</div>
