<tr>
  <td class="selectable positive"> <%= link_to department.id, web_department_path(department) %> </td>
  <td> <%= link_to department.name, web_department_path(department) %> </td>
  <td>
    <% department.areas.each do |area| %>
      <%= link_to area.name, web_area_path(area), class: 'mini ui button' %>
    <% end %>
  </td>
  <td class="selectable center aligned">
    <%= link_to '<i class="fa fa-plus" aria-hidden="true"></i>'.html_safe, new_web_area_path %>
  </td>
  <td class="selectable warning center aligned">
    <%= link_to '<i class="fa fa-pencil-square-o" aria-hidden="true"></i>'.html_safe, edit_web_department_path(department), remote: true %>
  </td>
  <td class="selectable negative center aligned">
    <%= link_to '<i class="fa fa-trash-o" aria-hidden="true"></i>'.html_safe, web_department_path(department), method: :delete, data: { confirm: "¿Desea eliminar el departamento de #{department.name}?" } %>
  </td>
</tr>