= render partial: 'layouts/menutop'
= render partial: 'layouts/breadcrump'
- title "Departamentos"
.ui.container
  - if !notice.nil?
    = render partial: 'layouts/notice'
  %h1 #{fa_icon "sitemap"} Listado de Departamentos

  %table.ui.teal.celled.table
    %thead
      %tr
        %th ID.
        %th Departamento
        %th{:colspan => 2} Áreas
        -if current_user.root? || current_user.admin?
          %th.center.aligned Editar
          %th.center.aligned eliminar
    %tbody
      - @departments.each do |department|
        %tr
          %td.selectable.positive= link_to department.id, web_department_path(department)
          %td= link_to department.name, web_department_path(department) # line test
          %td
            -department.areas.each do |area|
              =link_to area.name, edit_web_area_path(area), class: 'ui mini teal button', remote: true

          %td.selectable.center.aligned= link_to '<i class="fa fa-plus" aria-hidden="true"></i>'.html_safe, new_web_area_path, remote: true
          -if current_user.root? || current_user.admin?
            %td.selectable.warning.center.aligned= link_to '<i class="fa fa-pencil-square-o" aria-hidden="true"></i>'.html_safe, edit_web_department_path(department), remote: true
            %td.selectable.negative.center.aligned= link_to '<i class="fa fa-trash-o" aria-hidden="true"></i>'.html_safe, web_department_path(department), method: :delete, data: { confirm: "¿Desea eliminar el departamento #{department.name}? \n ¡PRECAUCIÓN! Esta acción eliminara todas las áreas asociadas al departamento." }
  %br

  -if current_user.root? || current_user.admin?
    = link_to 'Crear departamento', new_web_department_path, class: 'ui primary button', remote: true
