= render partial: 'layouts/menutop'
= render partial: 'layouts/breadcrump'
- title "Departamento #{@department.name}"
.ui.text.container
  %h4.ui.horizontal.divider.header Departamento
  %table.ui.definition.table
    %tbody
      %tr
        %td.three.wide.column ID. Depto.
        %td= @department.id
      %tr
        %td Nombre
        %td= @department.name
      %tr
        %td Área
        %td= @department.description



  = link_to 'Regresar', web_departments_path, class: 'ui button'
  = link_to 'Editar', edit_web_department_path(@department), class: 'ui primary button'
