<% if @department.errors.empty? %>
  $('table tbody').append('<%= j render "row", department: @department %>');
  $('#modal-cal').modal('hide');
  $('<%= j render partial: "form" %>').modal('hide');
<% else %>
  alert('<%= @department.errors.full_messages[0] %>');
<% end %>