.row
  .col
    %h1 Cronograma turnos #{@date.to_s}
    %table.table
      %thead.thead-dark
        %tr
          %th Empleado
          -@present_month.each do |date|
            -if date.date.strftime('%a').to_s == 'Sun'
              %th.warning
                =date.date.strftime('%a %d').to_s
            -else
              %th.ordinary_day
                =date.date.strftime('%a %d').to_s
      %tbody
        -@employees.each do |employee|
          %tr
            %td= employee.first_name + ' ' + employee.last_name
            -if employee.calendars.any?
              -employee.calendars.current_month.preload(:shift).each do |shift|
                %td= shift.shift.cod

