- if @employee.errors.any?
  .ui.error.mini.message
    %i.close.icon
    .header= "#{pluralize(@employee.errors.count, "error")} prohibited this employee from being saved:"
    %ul.list
      - @employee.errors.full_messages.each do |message|
        %li= message

= form_for(@employee, url: url, method: method, html:{ class: 'ui form' } )do |f|
  .ui.dividing.header Información personal
  .required.two.fields
    .field
      %label Nombres
      =text_field(:employee, :first_name, placeholder: 'Nombres del empleado')
    .field
      %label Apellidos
      =text_field(:employee, :last_name, placeholder: 'Apellido del empleado ')
  .required.fields
    .eight.wide.field
      %label Rut
      =text_field(:employee, :rut, placeholder: 'ej. 22222222-2')
    .six.wide.field
      %label e-Mail
      =email_field(:employee, :email, placeholder: 'ej. name@mail.com')
    .six.wide.field
      %label Teléfono
      =telephone_field(:employee, :tel, placeholder: 'ej. 9 0000 0000')


  .required.fields
    .twelve.wide.field
      %label Dirección
      =text_field(:employee, :address_id, placeholder: 'Dirección')
    .four.wide.field
      %label Número
      =text_field(:employee, :address_id, placeholder: 'Dirección')

  .ui.dividing.header Información interna
  .required.field
    %label Departamento &raquo; Área
    =f.grouped_collection_select(:area_id, Department.all, :areas, :name , :id , :name, {:prompt => 'Seleccione...'}, {:class => 'ui fluid dropdown'})
  .required.two.fields
    .field
      %label Contrato
      =f.collection_select(:contract_id, Contract.all, :id, :contract_type, {:prompt => 'Seleccione...'}, {:class => 'ui fluid dropdown'})
    .field
      %label Domingo libre
      =f.collection_select(:benefit_id, Benefit.all, :id, :description, {:prompt => 'Seleccione...'}, {:class => 'ui fluid dropdown'})
  .ui.divider
  .actions
    = link_to 'Cancelar', web_employees_path, class: 'ui button'
    -if @employee.new_record?
      = f.submit 'Guardar', class: 'ui primary button'
    -else
      = f.submit 'Actualizar', class: 'ui primary button'

  = render partial: 'layouts/script_form_error'


