= render partial: 'layouts/menutop'
= render partial: 'layouts/breadcrump'
-title "Editar Empleado #{@employee.last_name}"
.ui.text.container
  %h1 Editar empleado #{@employee.first_name} #{@employee.last_name}

  = render partial: 'form', locals:{url: web_employee_path(@employee), method: 'PUT'}

