= render partial: 'layouts/menutop'
= render partial: 'layouts/breadcrump'
- title "Lista de empleados"
.ui.container
  - if !notice.nil?
    = render partial: 'layouts/notice'
  %h1 #{fa_icon "users"} Lista de empleados

  %table.ui.olive.table
    %thead
      %tr
        %th ID
        %th Nombres
        %th Apellidos
        %th Rut
        %th eMail
        %th Teléfono
        %th Departamento
        %th Area
        %th Contrato
        %th Beneficio
        -if current_user.root? || current_user.admin?
          %th Editar
          %th Eliminar

    %tbody
      - @employees.each do |employee|
        %tr
          %td.selectable.positive= link_to employee.id, web_employee_path(employee)
          %td= employee.first_name
          %td= employee.last_name
          %td= employee.rut
          %td= employee.email
          %td= employee.tel
          %td= employee.area.department.name
          %td
            -if employee.area.nil?
              Sin asignar
            -else
              = employee.area.name
          %td= employee.contract.contract_type
          %td= employee.benefit.cod
          -if current_user.root? || current_user.admin?
            %td.selectable.warning.center.aligned= link_to '<i class="fa fa-pencil-square-o" aria-hidden="true"></i>'.html_safe, edit_web_employee_path(employee)
            %td.selectable.negative.center.aligned= link_to '<i class="fa fa-trash-o" aria-hidden="true"></i>'.html_safe, web_employee_path(employee), method: :delete, data: { confirm: "¿Desea eliminar el Empleado #{employee.first_name} #{employee.last_name}?" }
  %br

  -if current_user.root? || current_user.admin?
    = link_to 'Crear Empleado', new_web_employee_path, class: 'ui primary button'
