= render partial: 'layouts/menutop'
= render partial: 'layouts/breadcrump'
- title "Nuevo empleado"
.ui.text.container
  %h1 Nuevo Empleado
  = render partial: 'form', locals: {url: web_employees_path ,method: 'POST'}

