= render partial: 'layouts/menutop'
= render partial: 'layouts/breadcrump'
- title "#{@employee.first_name} #{@employee.last_name}"
.ui.text.container
  %h4.ui.horizontal.divider.header #{fa_icon "user"} Empleado
  %table.ui.definition.table
    %tbody
      %tr
        %td.five.wide Nombre:
        %td= @employee.first_name
      %tr
        %td Apellidos:
        %td= @employee.last_name
      %tr
        %td Rut:
        %td= @employee.rut
      %tr
        %td eMail:
        %td= @employee.email
      %tr
        %td Teléfono:
        %td= @employee.tel
      %tr
        %td Departamento:
        %td= @employee.area.department.name
      %tr
        %td Área:
        %td= @employee.area.name
      %tr
        %td Domingo Libre:
        %td= @employee.benefit.cod
      %tr
        %td Tipo de contrato:
        %td= @employee.contract.contract_type

  = link_to 'Regresar', web_employees_path, class: 'ui default button'
  = link_to 'Editar', edit_web_employee_path(@employee), class: 'ui primary button'
