%body.auth-bg
  .ui.two.column.centered.grid
    .column.max500
      .header= image_tag "logoWaki.png", id: "login-logo"
      %p.center Gestión del Recurso Humano

      =form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'ui form'}) do |f|
        .field
          .ui.left.icon.input
            = f.email_field :email, placeholder: 'Usuario',autofocus: true
            %i.user.icon
        .field
          .ui.left.icon.input
            = f.password_field :password, placeholder: 'Contraseña', autocomplete: "off"
            %i.key.icon
        -if devise_mapping.rememberable?
          .field
            = f.check_box :remember_me
            = f.label :remember_me

        .actions
          = f.submit "Log in", class: 'ui button'

      .extra.content
        = render "devise/shared/links"


