= render partial: 'layouts/menutop'
= render partial: 'layouts/breadcrump'
- title "Turnos programados vs urnos reales"
.ui.container
  - if !notice.nil?
    = render partial: 'layouts/notice'
  %h1 Feriados
  %h3= Date.today.year.to_s
  %hr
    .ui.relaxed.divided.list
      - if @holidays.any?
        - @holidays.each do |day|
          .item
            %i.large.add.to.calendar.middle.aligned.icon
            .content
              %a.header #{day.id} - #{day.name}
              .description
                %strong Fecha:
                #{day.date}
                %br
                %strong Descripción
                = day.description
      - else
        .item
          %i.large.add.to.calendar.middle.aligned.icon
          .content
            %a.header Sin datos
            .description
              Feriados sin cargar a sistema Waki.
  %hr
  = link_to '<i class="cloud download icon"></i> Actualizar Feriados'.html_safe,  web_update_holidays_path, class: 'ui primary button'

