@import "colors";
@import "effects";
.divider {
  padding: 0px 0px 0.5rem;
  border-top: 2px solid rgba(6, 6, 6, 0.2);
  width: 90%;
}
.month.free.sunday {
  color: $teal;
}
.ui.active.visible.month.pulse{
  animation: none;
}
.ui.search.selection.dropdown.month.success{
  color:$green;
  background-color:$white;
  border: 1px dashed $green !important
}
.ui.search.selection.dropdown.month.warning{
  color:$yellow;
  background-color:$white;
  border: 1px dashed $yellow !important
}
.ui.search.selection.dropdown.month.err{
  color: $red;
  background-color: $white;
  border: 1px dashed $red !important
}
.ui.search.selection.dropdown.month.info{
  color: $blue;
  background-color: $white;
  border: 1px dashed $blue !important
}
