@import "colors";
@import "effects";

.weekly_sum .default{
  color: $grey;
  background-color: $white;
  border: none!important
}
.weekly_sum.err{
  color: $white ;
  background-color: $red;
}
.weekly_sum{
  font-size:12px;
  font-weight: 600;
  padding: 0.4rem 0;
}