@import "colors";
@import "effects";
.divider {
  padding: 0px 0px 0.5rem;
  border-top: 2px solid rgba(6, 6, 6, 0.2);
  width: 90%;
}

// alerts panel
.alert-panel{
}
.pulse{
  animation: pulse 2s infinite;
}
.alert-panel:hover{
  opacity:0.6;
}
.alert-panel.default > .content > .header > div , .alert-panel.default .shift_msg {
  color: $grey;
  background-color: $white;
}
.alert-panel.success > .content > .header > div , .alert-panel.success .shift_msg {
  color: $green;
  background-color: $white;
}
.alert-panel.warning > .content > .header > div ,.alert-panel.warning .shift_msg {
  color:$yellow;
  background-color:$white;
}
.alert-panel.err > .content > .header > div ,.alert-panel.err .shift_msg {
  color: $red;
  background-color: $white;
}
.alert-panel.info > .content > .header > div ,.alert-panel.info .shift_msg {
  color: $blue;
  background-color: $white;
}