/*colors*/
$blue : #1678c2;
$red : #db2828;
$teal : #009c95;
$green : #16ab39;
$olive : #a7bd0d;
$yellow : #eaae00;
$orange : #f26202;
$violet : #5829bb;
$purple : #9627ba;
$pink : #e61a8d;
$brown : #975b33;
$grey : #838383;
$black : #27292a;
$white : #ffffff;

/*text colors*/
.text.blue{
  color: $blue;
}
.text.red{
  color: $red;
}
.text.teal{
  color: $teal;
}
.text.orange{
  color: $orange;
}
.text.yellow{
  color: $yellow;
}
.text.olive{
  color: $olive;
}
.text.green{
  color:$green;
}
.text.violet{
  color: $violet;
}
.text.purple{
  color: $purple;
}
.text.pink{
  color: $pink;
}
.text.brown{
  color: $brown;
}
.text.grey{
  color: $grey;
}
.text.black{
  color: $black;
}
.text.white{
  color: $white;
}