%h1 ModelMailer#change_account.html
%strong welcome #{@user.email}
%i Ha sido dado de alta para acceder a plataforma Waki.
%ul
  %li= @user.first_name
  %li= @user.last_name
  %li= @user.role

%p Por favor ingrese al siguiente link para completar el registro.