= form_for @area, url: url, method: method, html:{class: 'ui form error'} do |f|
  .field
    =text_field(:area, :name, placeholder: 'Nombre del área')
  .field
    =text_field(:area, :description, placeholder: 'Descripción del área')
  .field
    =f.collection_select(:department_id, Department.all, :id, :name, {:prompt => 'Seleccione...'}, {:class => 'ui fluid dropdown'})
  .actions
    = link_to 'Cancelar', web_departments_path, class: 'ui button'
    -if @area.new_record?
      = f.submit 'Guardar', class: 'ui primary button'
    -else
      = f.submit 'Actualizar', class: 'ui primary button'