<div id="modal-cal" class="ui small modal">
  <div class="header">
    <%if @area.new_record? %>
      <h3><i class="save icon"></i> Nueva Área</h3>
    <% else %>
      <h3><i class="edit icon"></i> Área <%= @area.name %></h3>
    <% end %>
  </div>

  <div class="content">
    <%= form_for @area, url: url, method: method, html:{class: 'ui form error'} do |f| %>
    <div class="required field">
      <label for="area">Área:</label>
      <%= text_field(:area, :name, placeholder: 'Nombre del área') %>
    </div>
    <div class="field">
      <label for="description">Descripción:</label>
      <%=text_field(:area, :description, placeholder: 'Descripción del área') %>
    </div>
    <div class="required field">
      <label for="department">Departamento al que pertenece:</label>
      <%=f.collection_select(:department_id, Department.all, :id, :name, {:prompt => 'Seleccione...'}, {:class => 'ui fluid dropdown'}) %>
    </div>
    <div class="actions">
      <%= link_to 'Cancelar', web_departments_path, class: 'ui button' %>
      <%if @area.new_record? %>
        <%= f.submit 'Guardar', class: 'ui primary button' %>
      <% else %>
          <%= link_to 'Eliminar', web_area_path(@area), class: 'ui red button',method: :delete, data: { confirm: "¿Desea eliminar el área #{@area.name}?"} %>
          <%= f.submit 'Actualizar', class: 'ui primary button' %>
      <% end %>
    </div>
  </div>
  <% end %>
</div>