= render partial: 'layouts/menutop'
= render partial: 'layouts/breadcrump'
- title "Editar área"
.ui.text.container
  %h1 Editar área #{@area.name}
  =render partial: 'form.html.haml', locals:{url:web_area_path(@area) ,method: 'PUT'}
  =@area.inspect



