
.ui.relaxed.divided.list
  -@areas.each do |f|
    .item
      %i.large.github.middle.aligned.icon
      .content
        .header
          = f.name
        .description
          = f.department.name


