= render partial: 'layouts/menutop'
= render partial: 'layouts/breadcrump'
- title "Crear área"
.ui.text.container
  %h1 Nueva Área
  =render partial: 'form', locals: {url:web_areas_path, method: 'POST'}


