= render partial: 'layouts/menutop'
= render partial: 'layouts/breadcrump'
- title "Area #{@area.name}"

.ui.text.container
  %h4.ui.horizontal.divider.header Area
  %table.ui.definition.table
    %tbody
      %tr
        %td.three.wide.column ID. Área.
        %td= @area.id
      %tr
        %td Nombre
        %td= @area.name
      %tr
        %td Área
        %td= @area.description



  = link_to 'Regresar', web_departments_path, class: 'ui button'
  = link_to 'Editar', edit_web_area_path(@area), class: 'ui primary button'