@import 'template/sidebar';
@import 'template/header';
@import 'template/table';
@import 'common/colors';
@import 'common/calendar_Alerts_component';
@import 'common/calendar_Employeedays_component';
@import 'common/calendar_Employeeweeks_component';

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
/*--GENERAL--*/
body {
  background: #f6f6f6;
}
body > .grid {
  height: 100%;
}
div{
  -webkit-border-radius: 0px!important;
  -moz-border-radius: 0px!important;
  border-radius: 0px!important;
}
a{
  cursor:pointer;
}
.name{
  text-transform: capitalize;
}
.full_height{
  height:100vh;
}
.ui.grid{
  margin-right:0;
}
.ui.content{
  margin-right:1rem;
  margin-left:1rem;
  background-color: #fff;
}
.ui.content{
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: normal;
  border: 1px solid rgba(34, 36, 38, 0.15);
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
  border-radius: 0.28571429rem;
  min-height: 2.85714286em;
}
.ui.content .grid , .ui.content .form{
  padding:1rem;
}
.max500 {
  max-width: 500px;
  background-color: rgba(233, 30, 99, 0.07);
  margin-top: 6em;
  padding: 3em 1em !important;
}
.max500 p {
  text-align: center;
  color: #000;
  margin-top: -15px;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
.auth-bg {
  background-image:url('service.jpeg');
  color: white;
  background-color: grey;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.ui.form input:not([type]):focus,
.ui.form input[type=date]:focus,
.ui.form input[type=datetime-local]:focus,
.ui.form input[type=email]:focus,
.ui.form input[type=file]:focus,
.ui.form input[type=number]:focus,
.ui.form input[type=password]:focus,
.ui.form input[type=search]:focus,
.ui.form input[type=tel]:focus,
.ui.form input[type=text]:focus,
.ui.form input[type=time]:focus,
.ui.form input[type=url]:focus,
.ui.form textarea:focus {
  border-color: #e8b29f;
}
.ui.primary.button,
.ui.primary.buttons .button {
  background: #2a2727d1;
  letter-spacing: 1px;
}
.ui.primary.button:hover,
.ui.primary.buttons .button:hover {
  background: rgba(88,167,226,0.85);
}
.ui.primary.button:active,
.ui.primary.buttons .button:active {
  background: rgba(88,167,226,0.95);
}
.ui.primary.button:focus,
.ui.primary.buttons .button:focus {
  background-color: #3d86bb;
}
#file_img{
  display:none
}
/*titles*/
h1,h2,h3{
  color: #192638 ;
}
h1.header{
  color: #4169E1;
}
/*inputs*/
input.videoCode{
  width: 90px;
  padding: 0 0 0 5px;
  padding-right: 0!important;
}
.ui.checkbox.option {
  padding: 2rem 0 0 0;
}
/*navbar*/
.ui.menu.icon.grid.navbar{
  @include border-radius(0 4px);
  border:0;
}
/*cards*/
.ui.card .meta, .ui.cards>.card .meta{
  margin-bottom:1rem;
}
/*transitions*/

.fade{
  -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.5s; /* Firefox < 16 */
  -ms-animation: fadein 0.5s; /* Internet Explorer */
  -o-animation: fadein 0.5s; /* Opera < 12.1 */
  animation: fadein 1s;
}

//NO BORDER
.ui.segments , .ui.menu , .ui.left.visible.sidebar , .ui.content{
  border:none;
}
/*tabs*/
.ui.tabular.menu .active.item{
  opacity: 1;
}
.ui.tabular.menu .item{
  opacity: 0.8;
  background: rgba(0,0,0,0.05);
  cursor:pointer;
}
/*calendarApp*/
//menu months
.column.assignment{
  padding:1rem 1.2rem;
  background: #fcfcfc;
}
h3.assignment.header{
  font-size: 18px;
}
p.info{
  color:$grey;
  font-size:12px;
  margin-top:-10px;
  width:100%;
}
p.info > i.info.icon{
  background: #838383;
  padding-bottom: 1rem;
  color: #fff;
}
.assignment div.header {
  text-transform: capitalize;
}
.assignment > .ui.card {
  width: 98%;
}
.ui.celled.grid>.row>.column.assignment{
  box-shadow: -0.2rem 0 0 0 #ffffff;
  background: #f6f6f9;
}
.monthLink{
  cursor: pointer;
  -webkit-transition: opacity 0.5 ease;
  -moz-transition: opacity 0.5 ease;
  -ms-transition: opacity 0.5 ease;
  -o-transition: opacity 0.5 ease;
  transition: opacity 0.5 ease;
}
.monthLink:hover{
  opacity:0.8;
}
.monthLink > i.external.icon{
  color: $blue !important;
}
.monthLink > i.external.icon:hover{
  color: $teal !important;
}
.event.assignment{
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 1rem 1rem !important;
  background: #fff !important;
  margin: 0px 0px 0.5rem 0px !important
}
//calendar
.scrollable{
  overflow: auto;
  min-height:400px;
}
.grid.month{
  width: auto;
  position: relative;
  display: inline-flex;
  padding: 1rem 0
}
.row.week-row {
  flex-wrap: nowrap !important;
  flex: 1 0 100%;
  min-width: min-content;
  min-height: min-content;
  justify-content: flex-start ;
  padding: 0.5rem 1rem !important;
  border-bottom: 2px solid rgba(0,0,0,0.06) !important;
}
div[role="combobox"].month , .ui.dropdown .menu>.item{
  color:#767676;
  font-size: 0.75rem;
  font-weight: 600;
}
.ui.active.selection.dropdown{
  min-width:10rem !important;
}
p.month {
  font-size: 12px;
  margin: 0 0 0em;
  font-weight: 600;
}
p.month.day{
  color: #4b72bd;
}
p.no.month.day{
  color: #a3bbe2;
}
p.month.number{
  padding:0px 2px;
  color:#5f5959;
}
.column .week{
  padding-right:0rem !important;
  padding-left:0rem !important;
}
.wide.week{
  width:285px !important;
}
.wide.employee{
  width:185px !important;
}
.ui.breadcrumb .icon.divider{
  border-top:none
}
.tone{
  color: #c1c1c1 !important;
  font-weight: 100 !important;
}
.panel-element{
  background-color: #2a2727d1;
  border: 1px solid #6e7079;
  box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  display: inline-block;
  font-size: 1.1em;
  margin: 0.3em 1%;
  text-align: center;
  transition: all 0.3s ease;
  width: 45%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  a {
    color: #ffffff !important;
    display: block;
    letter-spacing: 2px;
    padding: 1.6em;
    text-transform: uppercase;
  }
  a:hover {
    color: white !important;
  }
}
.panel-element:hover{
  background-color: #3091D3;
  border: 1px solid rgba(88,167,226,.85);

}
#video_background {
  position: absolute;
  top: 0px;
  right: 0px;
  min-width: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
  overflow: hidden;
  opacity: 0.6;
}
#video_pattern {
  background:#fff;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -1001;
}
#login {
  margin-top: 10%;
}
#login-logo {
  max-width: 200px;
  display: block;
  margin: 1em auto;
}
/*---- calendars views ----*/
.month-cal {
  margin: 1em !important;
}
.name {
  background: #ababab !important;
  border-bottom: 1px dotted rgb(155, 155, 155) !important;
  border-right: 1px dotted rgb(155, 155, 155) !important;
}
.sun_cal {
  background: rgba(255, 216, 141, 0.5) !important;
  color: rgb(174, 86, 40) !important;
}
.ordinary_day {
  background: rgba(186, 221, 239, 0.5) !important;
}
.scroll_icon {
  display: block !important;
  margin:0 auto 1em !important;
}

