-if @employees.any?
  =line_chart @employees, xtitle: "Cod. Turno", ytitle: "Número de asignaciones", download: true
-else
  .ui.inline.cookie.nag
    %span.title
      Empleado sin registro de turnos para los parametros solicitados.
    %i.close.icon

  :javascript
    $('.cookie.nag').nag('show');