= render partial: 'layouts/menutop'
= render partial: 'layouts/breadcrump'
- title "Turnos programados vs turnos reales"
.ui.container
  %strong.text.right #{Time.now.to_formatted_s(:short)}
  %table.ui.celled.table
    %thead
      %tr
        %th{:colspan => 8}
          %h3 Control Semana actual
      %tr
        %th.center.aligned Empleado
        %th.center.aligned Lunes
        %th.center.aligned Martes
        %th.center.aligned Miercoles
        %th.center.aligned Jueves
        %th.center.aligned Viernes
        %th.center.aligned Sabado
        %th.center.aligned Domingo
      %tbody
        -@employees.each do |employee|
          %tr
            %td= employee.full_name
            -if employee.calendars.any?
              -employee.calendars.current_week.preload(:shift).each do |calendar|
                %td.selectable.center.aligned
                  =link_to calendar.shift.cod, edit_web_calendar_path(calendar), remote: true
            -else
              %td{:class => 'center aligned warning'}
                %i.attention.icon
                  Empleado sin asignación de turnos para la última semana
  %hr
  %h2 Estadisticas turnos Febrero 2018 por Empleado
  .ui.form
    = form_tag '/web/kpi_productivity', method: :get, id: 'search_form', remote: true do
      .fields
        .field
          %lavel Metrica por trabajador:
          = select_tag :keyword, options_from_collection_for_select(@employees, :id, :full_name), class: 'ui selection dropdown', prompt: 'Seleccione empleado'
        .field.disabled
          = #text_field_tag(:keyword1, nil, placeholder: 'Mes', type: 'text')
      = content_tag :button, class: 'ui blue submit button', type: :submit do
        %i.search.icon
        Enviar
  %div#search
  %hr

  - contrario = Calendar.joins(:shift).select('calendars.id, calendars.date, shifts.time').last(7)
  = contrario.shift.time

  - roadmap = Calendar.joins(:employee, :shift).where(:first_name == 'catherine').select(:cod).group(:cod).count(:cod)

  %h2 Turnos asignados en Diciembre 2017
  =pie_chart Calendar.joins(:employee, :shift).select(:cod).group(:cod).count(:cod), width: '600px', height: '400px'
  %hr
  %h2 Turnos asignados Enero 2018
  -loca = Calendar.joins(:employee, :shift).where('extract(month from calendars.date) = ?', 1 ).where('employees.id' => 2).select(:cod).group(:cod).count(:cod)
  =area_chart loca

  %hr
  %h3 Turnos asignados en los tres últimos meses
  - var = Calendar.joins(:employee, :shift).select(:cod, :first_name).group(:first_name).group(:cod).count(:first_name)
  = line_chart var


