<%= form_tag '/web/kpi_productivity', method: :get, id: 'search_form', remote: true do %>
  <div class="field">
    <%= text_field_tag(:keyword, nil, placeholder: 'id') %>
  </div>
  <%= content_tag :button, class: 'ui primary button', type: :submit do %>
      Enviar
  <% end %>
<% end %>
<div id="search">
</div>