.ui.error.mini.message
  %i.close.icon
  #error_explanation
  .header= "#{pluralize(@contract.errors.count, "error")} prohibited this contract from being saved:"
  %ul.list
  - @contract.errors.full_messages.each do |message|
    %li= message