.ui.inverted.stackable.menu
  .item
    %a.ui.logo.image{:href => "/"}
      %h3 WAKI
  -if current_user.root?
    .item=link_to "Usuarios", web_users_path

  .ui.item.simple.dropdown.inverted
    .text Organización
    %i.dropdown.icon
    .menu.transition
      -if current_user.root? || current_user.admin?
        .item
          = link_to "Departamentos", web_departments_path
      .item
        = link_to "Empleados", web_employees_path

  .ui.item.simple.dropdown.inverted
    .text Gestión de Horarios
    %i.dropdown.icon
    .menu.transition
      .item
        = link_to "Asignación Horario" , "/calendarApp/" , :class => "headerMenu"
      .item
        = link_to "Seguimiento de asignaciones", web_calendar_programmed_vs_real_path
      .item
        = link_to "Consultar Horarios por mes", web_calendars_path
  .ui.item.simple.dropdown.inverted
    .text Zona Administrativa
    %i.dropdown.icon
    .menu.transition
      .item
        = link_to "Turnos", web_shifts_path
      -if current_user.root? || current_user.admin?
        .item
          = link_to "Contratos", web_contracts_path
        .item
          = link_to "Domingos libres y Beneficios", web_benefits_path
        .item
          = link_to "Feriados (API)", web_holidays_path

  .ui.item.right.simple.dropdown.inverted
    %i.power.icon
    .text #{current_user.email.to_s}

    .menu.transition
      .item
        = link_to("Editar cuenta", edit_user_registration_path(current_user.id))
      .item
        = link_to("Cerrar Sesión", destroy_user_session_path, method: :delete)
