<!doctype html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>